{% extends "base.html" %}

{% block content %}

    <div class="main-wrapper">
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h1 class="title mb-2">{{post.title}}</h1>
                    <p>Категориясы : {{post.category}}</p>
				    <hr>
                </header>

			    <div class="blog-post-body">
                    <p>{{post.content|safe}}</p>
                </div>
				<hr>
				<p>Жарыяланган убактысы : {{post.publish}}</p>

				<button class="btn btn-primary m-1"><a style="color:white" href="/blogs">Артка...</a></button>
		    </div><!--//container-->
	    </article>
    </div><!--//main-wrapper-->
{% endblock %}